fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
paho-mqtt
python-dotenv
pydantic[email]
passlib==1.7.4
bcrypt==4.1.2
apscheduler
fastapi-mail==1.4.1
pytz
python-jose[cryptography]==3.3.0
python-dateutil